# Indexing

In [25]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']
print ("'Hello",studentData[0]," ",studentData[1],",")
print ("Your application is accepted for admission in ",studentData[4],studentData[3],"in ",studentData[2],".")
print ("You have to submitt fee ",studentData[5],"before ",studentData[6],".")
print ("Your classes will start from ",studentData[7],".")
print ("Thanks'")

'Hello Ahmed   Bilal ,
Your application is accepted for admission in  BS Computer Science in  Government College University .
You have to submitt fee  50000 before  28 Januray 2020 .
Your classes will start from  05 February 2020 .
Thanks'

# Slicing

In [13]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
print ("For positive Slicing")
print ("1: ",cities[0:4])
print ("2: ",cities[2:6])
print ("3: ",cities[5:])
print(" ")
print ("For neagtive slicing")
print ("1: ",cities[-4:-1])
print ("2: ",cities[-5:])

For positive Slicing
1:  ['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
2:  ['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
3:  ['Sahiwal', 'Rawalpindi', 'Sialkot']

For neagtive slicing
1:  ['Quetta', 'Sahiwal', 'Rawalpindi']
2:  ['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3. Update list

In [24]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
print ("Actual List")
print (studentData)
studentData.append('20 February 2019')
studentData.append(8)
print ("List after append")
print (studentData)
studentData.insert(4,25000)
studentData.insert(2,"M. Iqbal")
print ("List after insert")
print (studentData)
studentData[0] = "zohaib Ali"
studentData[6] = 7
print ("List after update")
print (studentData)

Actual List
['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']
List after append
['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]
List after insert
['Ali Raza', 22, 'M. Iqbal', 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]
List after update
['zohaib Ali', 22, 'M. Iqbal', 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20 February 2019', 8]

# 4. Multidimensional lists tasks

In [34]:
employeeData = [["Ali", 35000, "Software Engineer"],["Talha", 55000, "Product Manager"],["Nasir", 79000, "Computer Engineer"],["Khalid", 44000, "DBA"]]
totalal_salary = 0
for i in employeeData:
    totalal_salary += i[1]
    if i[1]>5000:
        print (i[0],i[1])
print ("Total salary of employes is ",totalal_salary)   

print ("List update task")
employeeData[2][1] = 90000
employeeData[2][2] = "Product Manager"
print (employeeData[2])

Ali 35000
Talha 55000
Nasir 79000
Khalid 44000
Total salary of employes is  213000
List update task
['Nasir', 90000, 'Product Manager']

# Login User

In [38]:
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False
if username == "faizan1214" and password == "qwerty":
    if emailVerified == True:
        print ("login Succeed")
    else:
        print("Email not verified")
else:
    print ("Incorrect Login details")

Email not verified

In [39]:
# Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True
if username == "faizan1214" and password == "qwerty":
    if emailVerified == True:
        print ("login Succeed")
    else:
        print("Email not verified")
else:
    print ("Incorrect Login details")

login Succeed